body{
	/*
	font-family: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	*/
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	overflow-y: scroll;
	overflow-x: hidden;
	!background-image:url('../img/bg_debut_dark.png');
	color:#222222;
	font-weight:200;
	margin-left:0px;
	margin-right:0px;
	padding-left:0px;
	padding-right:0px;
}

/*  
Sticky Footer Solution
by Steve Hatcher 
http://stever.ca
http://www.cssstickyfooter.com
*/

* {margin:0;padding:0;} 

/* must declare 0 margins on everything, also for main layout components use padding, not 
vertical margins (top and bottom) to add spacing, else those margins get added to total height 
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */

html, body {height: 100%;}

#wrap {
	min-height: 100%;
}

#main {
	overflow:auto;
	padding-bottom: 250px;
}  /* must be same height as the footer */

#footer {
	position: relative;
	margin-top: -250px; /* negative value of footer height */
	height: 370px;
	clear:both;
	background-color: #222222;	
	color: #FFFFFF;
} 

#footer h4 {
	color: #222222;
} 

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
input{
	border:1px solid #b0b0b0;
	padding:3px 5px 4px;
	color:#979797;
	/* width:190px; */
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
/*
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
*/
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

a{
	color: #222222;
}

a:link {color: #222222;text-decoration: none}
a:visited {color: #222222;text-decoration: none}
a:hover {color: #222222;text-decoration: none}
a:active {color: #222222;text-decoration: none} 

.font-helvetica {
font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.font-lobster {
font-family: 'Lobster', cursive;
}

.font-smallest {
font-size:10px
}

.font-smaller {
font-size:12px
}

.font-small {
font-size:16px
}

.font-medium {
font-size:20px
}

.font-mediumlarge {
font-size:25px
}

.font-large {
font-size:30px
}

.font-xlarge {
font-size:50px
}

.font-light {
font-weight:100;
}

.font-light-200 {
font-weight:200;
}

.font-white {
color:white;
}

.border {
border:0px solid #999999;
}

.no_border {
border:0px solid #cdcdcd;
}

.card {
border:1px solid #222222;
padding-top:5px;
padding-bottom:5px;
padding-left:5px;
padding-right:5px;
background-color:#FFFFFF;
!background-image:url('../img/bg_debut_dark.png');
color:#222222;
}

#header { position: relative; }

#header-content { position: absolute; bottom: 5px; }

a.menu-icon {
-webkit-box-shadow: 0 10px 0 1px #FFFFFF, 0 16px 0 1px #FFFFFF, 0 22px 0 1px #FFFFFF;
box-shadow: 0px 10px 0px 1px #FFFFFF, 0px 16px 0px 1px #FFFFFF, 0px 22px 0px 1px #FFFFFF;
}

u {    
    border-bottom: 1px dashed #000;
    text-decoration: none;
}

img {
	background:url('any-freelance.com/img/loader.gif');
	background-repeat:no-repeat;
	background-position:center
}
